<launch>
    <include file="$(find laser_lzhw)/launch/laser.launch"></include>
    

    <!-- <node pkg="send_goals" name="send8_final_node" type="send8_final_node" output="screen" /> -->
  
    <node pkg="send_goals" name="send8_final_slam_node" type="send8_final_slam_node" output="screen" />
    
</launch>